/* /* .header{
    color: blue;
} */

/*
.img{
    width: 55px;
} 


.nav-list{
    list-style: none;
    display: flex;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list-item{
    margin-left: 10px;
    font-size: medium;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: start;
}

body{
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #282D35;
    color: white;
}

nav > img {
    width: 40px;
    margin-left: 7px;
}

nav{
    display: flex;
    align-items: center;
    height: 100%;
}

header {
    height: 90px;
    background: #212121;
    display: flex;
    padding: 30px 20px;
}

nav > span{
    color: blue;
    font-size: 1.3rem;
    font-weight: 700;
}

main{
    padding: 60px 30px;
    background-image: url(https://imgs.search.brave.com/BnDyyT3dsHYmdHchstS-bI67DmgItPkfB5rxJwppT2U/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMtMDAuaWNvbmR1/Y2suY29tL2Fzc2V0/cy4wMC9yZWFjdC1p/Y29uLTI1NngyMjgt/OTdsdGdibDEucG5n);
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
}

main > h1 {
    margin: 0;
    font-size: 2.4rem;
 
}

.facts-list{
    margin-top: 46px;
    max-width: 400px;
}

.facts-list > li {
    padding-block: 10px;
    line-height: 20px;
}

*/